{% extends 'generic.html' %}

{% load staticfiles %}
{% block title %}Buscar bares{% endblock %}

{% block main %}

<p><a href="{% url 'bar_create_view' %}">Agregar nuevo bar...</a></p>

<h1 class="major">Buscar bares...</h1>

<form method="post" action="">
										<div class="row uniform">
											<div class="12u$">
												<input type="text" name="direccion" id="direccion" value="" placeholder="Name" />
											</div>

											<div class="12u$">
													<input type="submit" value="Buscar" class="special" />
											</div>
										</div>
									</form>

<table class="table table-bordered table-condensed table-hover table-striped" >
          <thead>
            <th>Bar</th>
            <th>Direccion</th>
            <th>Ciudad</th>
          </thead>
          <tbody>
            {% for b in object_list %}

                <tr>
                  <td><a href="{% url 'bar_detail_view' b.id %}">{{b.nombre}}</a></td>
                  <td><a href="{% url 'bar_detail_view' b.id %}">{{b.direccion}}</a></td>
                  <td><a href="{% url 'bar_detail_view' b.id %}">{{b.ciudad}}</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock main %}
